<extend name="/public/layout"/>

<block name="style">
	<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=ASOBZ-U2RK6-PZQSM-ESQWD-7XO3J-TAFF3"></script>
		<link rel="stylesheet" type="text/css" href="/application/weixin/view/public/css/mypicker.css"/>
		<link rel="stylesheet" type="text/css" href="/application/weixin/view/public/css/xq.css"/>
		
		     <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.7.0/skins/default/aliplayer-min.css" />
     <script type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.7.0/aliplayer-min.js"></script>
</block>

<block name="main">
	<!--轮播-->
		<div id="slider" class="mui-slider" >
			<div class="mui-slider-group mui-slider-loop">
				
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#"><img src="/application/weixin/view/public/images/xq/top.png"></a>
				</div>
				<!-- 第一张 -->
				<div class="mui-slider-item mui-slider-item-duplicate">
					 <div  class="prism-player" id="J_prismPlayer" style="position: absolute"></div>
				</div>
				
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#"><img src="/application/weixin/view/public/images/xq/top.png"></a>
				</div>
				
				
				<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#"><img src="/application/weixin/view/public/images/xq/top.png"></a>
				</div>
			</div>
			<div class="mui-slider-indicator">
				<div class="mui-indicator mui-active"></div>
				<div class="mui-indicator"></div>
				
			</div>
		</div>
		<!---->
		<div class="xq_ops">
			<div class="xq_ops_one flex-flow">
				<div>{$info.title}</div>
				<div class="flex-flow">
					<img src="/application/weixin/view/public/images/xq/sc.png"/>
					<img src="/application/weixin/view/public/images/xq/fx.png"/>
				</div>
			</div>
			
			<div class="xq_ops_two flex-flow">
				<div class="xq_ops_two_total">￥{$info.price}/晚</div>
				<div class="xq_ops_two_time" >入离日期</div>
			</div>
			
			<div class="xq_ops_three">
				<ul>
					<li class="flex-flow">
						<img src="/application/weixin/view/public/images/xq/fang.png">
						<div>
							<p>整套{$info.room}居室</p>
							<p>{$info.ping}平/{$info.room}室{$info.office}厅</p>
						</div>
					</li>
					<li class="flex-flow">
						<img src="/application/weixin/view/public/images/xq/ren.png">
						<div>
							<p>可住{$info.canlive}人</p>
							<p>不可加客</p>
						</div>
					</li>
					<li class="flex-flow">
						<img src="/application/weixin/view/public/images/xq/chu.png">
						<div>
							<p>{$info.kitchen}厨{$info.guard}独卫</p>
							<p>可做饭/独立卫生间</p>
						</div>
					</li>
					<li class="flex-flow">
						<img src="/application/weixin/view/public/images/xq/bed.png">
						<div>
							<p>共{$info.bed}张床</p>
							<p>双人大床x{$info.bed}</p>
						</div>
					</li>
				</ul>
			</div>
			
		</div>
	   <!--亮点-->
	   <div class="liangdian">
	    	<div class="xq_title">房屋亮点</div>
	    	<!--<div class="liangdian_one flex-flow">
	    		<div>
	    			<img src="/application/weixin/view/public/images/xq/jingdian.png"/>
	    			<p>紧邻景点</p>
	    			<p>近芙蓉街等4个景点</p>
	    		</div>
	    		
	    		<div>
	    			<img src="/application/weixin/view/public/images/xq/chufang.png"/>
	    			<p>可以做饭</p>
	    			<p>厨房设备配齐全</p>
	    		</div>
	    	</div>-->
	    	<div class="liangdian_two">
	    		{$info.brightspot}
	    	</div>
	    	<div class="toxq">
	    		<a href="">查看详细介绍</a>
	    	</div>	
	    </div>
	   <!--评价-->
	   <div class="pingjia">
	   	  <div class="aver">
	   	  	<p>4.9分</p>
	   	  	<img src="/application/weixin/view/public/images/xq/star.png"/><img src="/application/weixin/view/public/images/xq/star.png"/><img src="/application/weixin/view/public/images/xq/star.png"/>
	   	  </div>
	      <div class="pingjia_tx flex-flow">
	      	 <img src="/application/weixin/view/public/vuetest/dist/static/img/index/tx1.png" class="user_tx"/>
	      	 <div>
	      	 	 <p>用户名称</p>
	      	 	<img src="/application/weixin/view/public/images/xq/star.png"/><img src="/application/weixin/view/public/images/xq/star.png"/><img src="/application/weixin/view/public/images/xq/star.png"/>
	      	 </div>
	      	 <p>2018.6.6</p>
	      </div>
	      <div class="toxq">
	    		<a href="">查看更多评价</a>
	    	</div>	
	   </div>
	   <!--housetPos-->
	   <div class="housePos">
	   	  <div class="xq_title">房屋位置</div>
	   	  <div class="houseMap" id="container"></div>
	   	  <div class="houseAddress">济南历下区盛景广场 B座1502室</div>
	   </div>
	   <!--servers-->
	   <div class="servers">
	   	   <div class="xq_title">服务与设施</div>
	   	   <div class="servers_con">
	   	   	  <span class="servers_title">入驻服务</span>
	   	   	  <ul class="live_server">
		   	   	  <li>24小时入驻</li><li>免费停车</li><li>床品每客更换</li>
		   	  </ul>
	   	   </div>
	   	   
	   	   <div class="servers_con " style="border-top:1px solid #ddd; padding-top: 10px; padding-bottom: 10px;">
	   	   	  <span class="servers_title">基本设施</span>
	   	   	 
	   	   	  <div> 
			   	   	  <ul class="basic_tool">
			   	   	  	  <p>厨房设施</p>
				   	   	  <li class="flex-flow"><img src="/application/weixin/view/public/images/xq/dui.png"/><span>24小时入驻</span></li>
				   	   	  <li class="flex-flow"><img src="/application/weixin/view/public/images/xq/dui.png"/><span>免费停车</span></li>
				   	   	  <li class="flex-flow"><img src="/application/weixin/view/public/images/xq/dui.png"/><span>床品每客更换</span></li>
				   	  </ul>
				   	  <ul class="basic_tool">
			   	   	  	  <p>厨房设施</p>
				   	   	  <li class="flex-flow"><img src="/application/weixin/view/public/images/xq/dui.png"/><span>24小时入驻</span></li>
				   	   	  <li class="flex-flow"><img src="/application/weixin/view/public/images/xq/dui.png"/><span>免费停车</span></li>
				   	   	  <li class="flex-flow"><img src="/application/weixin/view/public/images/xq/dui.png"/><span>床品每客更换</span></li>
				   	  </ul>
				   	 <ul class="basic_tool">
			   	   	  	  <p>厨房设施</p>
				   	   	  <li class="flex-flow"><img src="/application/weixin/view/public/images/xq/dui.png"/><span>24小时入驻</span></li>
				   	   	  <li class="flex-flow"><img src="/application/weixin/view/public/images/xq/dui.png"/><span>免费停车</span></li>
				   	   	  <li class="flex-flow"><img src="/application/weixin/view/public/images/xq/dui.png"/><span>床品每客更换</span></li>
				   	  </ul>
				</div>
	   	   </div>
	   	   <div class="toxq">
	    		<a href="">查看更多设施</a>
	    	</div>	
	   </div>
	   <!--foot-->
	   <div class="pageFoot flex-flow">
	   	   <div class="pageFoot_kefu flex-flow">
	   	   	  <img src="/application/weixin/view/public/images/xq/kefu.png">
	   	   	  <span>联系客服</span>
	   	   </div>
	   	   <div class="pageFoot_total">
	   	   	  <span>￥0</span>
	   	   </div>
	   	   <div class="pageFoot_buy flex-flow">
	   	   	  <img src="/application/weixin/view/public/images/xq/dian.png"/>
	   	   	  <span>立即预订</span>
	   	   </div>
	   </div>
	 
	   <!--日期选择-->
	   <div class="selectTime">
	   	   <div class="selectTimek">
			   	   <div class="jiange" id="jiange" >
			   	       <div class="datetime_show">
			   	       	<span onclick="methods.qxSelectDate()">取消</span>
			   	       	  <span>选择入住时间</span>
			   	       	 <span onclick="methods.qdSelectDate()">确定</span>
			   	       </div>
			   	       <div id="mypicker"  onclick="methods.dateclick(event)"></div>
			   	  </div>
	   	  </div>
	   </div>
</block>

<block name="script">
<script type="text/javascript">
	gl.muiloop("#slider",1000000)
	//地图
	var mymap={
		map:'',
		markerArray:[],
		lat:{$info.latitude},//初始纬度
		lng:{$info.longitude},//初始经度
		conId:"container",
		jsonArr:[ /*{id:1,lat:39.914850,lng:116.403765}*/],
		latVal:"lat",//点击地图后存放纬度INPUT的ID
		lngVal:"lng",//点击地图后存放经度INPUT的ID
		zoom:12//地图初始缩放比例
	}
	//时间
	var mypicker={
		startD:"",
		endD:"",
		con:"selectTime",//父容器类名称
	}
mui.init();

mui(".xq_ops_two").on("tap",".xq_ops_two_time",function(){
	$(".selectTime").addClass("dateshow");
})
</script>
<script>
            var player = new Aliplayer({
            id: 'J_prismPlayer',
            width: '100%',
            autoplay: false,
            //支持播放地址播放,此播放优先级最高
            source : '/uploads/room/media/2018-06-11/5b1e29f69fe99.mp4',
            //播放方式二：点播用户推荐
            vid : '1e067a2831b641db90d570b6480fbc40',
            playauth : '',
            cover: 'http://liveroom-img.oss-cn-qingdao.aliyuncs.com/logo.png',            
            //播放方式三：仅MPS用户使用
            vid : '1e067a2831b641db90d570b6480fbc40',
            accId: '',
            accSecret: '',
            stsToken: '',
            domainRegion: '',
            authInfo: '',
            //播放方式四：使用STS方式播放
            vid : '1e067a2831b641db90d570b6480fbc40',
            accessKeyId: '',
            securityToken: '',
            accessKeySecret: ''
            },function(player){
                console.log('播放器创建好了。')
           });
        </script>
  <script src="/application/weixin/view/public/js/myqqmap.js" type="text/javascript" ></script>
    <script src="/application/weixin/view/public/js/mypicker.js" type="text/javascript" ></script>
</block>