<extend name="/public/layout"/>

<block name="style">
		<script type="text/javascript" src="/application/weixin/view/public/js/mui.picker.js"></script>
		<script type="text/javascript" src="/application/weixin/view/public/js/mui.poppicker.js"></script>
		<script src="/application/weixin/view/public/js/mui.dtpicker.js"></script>
		<!--<link rel="stylesheet" type="text/css" href="/application/weixin/view/public//application/weixin/view/public/css/layer.css"/>
		<link rel="stylesheet" type="text/css" href="/application/weixin/view/public//application/weixin/view/public/css/mui.min.css"/>-->
		
		<link rel="stylesheet" type="text/css" href="/application/weixin/view/public/css/fangdong_foot.css"/>
		<link rel="stylesheet" type="text/css" href="/application/weixin/view/public/css/fangdong_tj.css"/>
		<link rel="stylesheet" type="text/css" href="/application/weixin/view/public/css/mui.picker.min.css"/>
		<link rel="stylesheet" type="text/css" href="/application/weixin/view/public/css/mui.poppicker.css"/>
		<script src="/application/weixin/view/public/js/city.data.js" type="text/javascript" charset="utf-8"></script>
		<script src="/application/weixin/view/public/js/city.data-3.js" type="text/javascript" charset="utf-8"></script>
</block>
<block name="main">
	<!--top-->
		<div class="pageTop">
			<img src="/application/weixin/view/public/images/back.png"/>
			<span>我的收益</span>
		</div>
		
		<!--LIST-->
		<div class="pageMain_top ">
			<p>总收益</p>
			<p>{$su_total|default="0.00"}元</p>
		</div>
		<!-- <div class="pageMain_search flex-flow module">
			<div class="sort" onclick="pageFun.sort(this,1)"><span>时间</span><img src="/application/weixin/view/public/images/fangdong/xjt.png"/></div>
			<div class="sort" onclick="pageFun.sort(this,2)"><span>收益</span><img src="/application/weixin/view/public/images/fangdong/xjt.png"/></div>
			<div class="search flex-flow" onclick="pageFun.openSearch()"><img src="/application/weixin/view/public/images/fangdong/search.png"/><span>高级搜索</span></div>
		</div> -->
		
		<empty name="room">
			<div class="none" style="display: block;top:-15% !important;"><img src="/application/weixin/view/public/images/none.png"/></div>
		<else>
			<p class="module search_msg">房源收益列表</p>
			<div class="pageMain_list module">
				<ul>
					<foreach name="room" item="vo">
					<li>
						<a href="{:U('weixin/landlord/statdetail',array('id'=>$vo['id']))}" class="flex-flow">
							<span class="s_over s_over1">{$vo.title}</span>
							<label>+{$vo.total}</label>
							<img src="/application/weixin/view/public/images/yjt.png"/>
						</a>
					</li>
					</foreach>
				</ul>
			</div>
		</empty>
		<div class="foot">
			<ul>
				<li>
					<a href="{:U('weixin/landlord/myroom')}" class="">
						<img src="/application/weixin/view/public/images/fangdong/house.png">
						<p class="">房屋</p>
					</a>
				</li>
				<li>
					<a href="{:U('weixin/landlord/statistics')}" class="">
						<img src="/application/weixin/view/public/images/fangdong/shouyi2.png">
						<p class="footactive">收益</p>
					</a>
				</li>
				<li>
					<a href="{:U('weixin/landlord/member')}" class="">
						<img src="/application/weixin/view/public/images/fangdong/foot4.png">
						<p >我的</p>
					</a>
				</li>
				
			</ul>
	</div>
</block>
<block name="script">
<script type="text/javascript">
	//layer.load()
function tjback(res){
	console.log(res)
}

var qbl={
	s:"",
	e:"",
	h:"",
	ssort:"1",
	tsort:"1",
}
	var pageFun={
		init(){
			gl.sendAjax("{:U('weixin/landlord/statistics')}","post",qbl,tjback)
		},
		searchStart(){
			
			qbl.s=$(".picker1").text();qbl.e=$(".picker2").text();
			qbl.h=document.getElementsByClassName("house")[0].value;
			$(".tj2").attr("data-params",JSON.stringify(qbl))
			$(".tj2").click();
		},
		selectHouse(obj){
			var str=($(obj).children("option:selected").text())
			$(obj).prev().text(str)
		},
		openSearch(){
			$(".select_search").addClass("searchshow")
		},
		closeSearch(e){
			var o=e.target;
			if($(o).hasClass("select_search"))
			{
				$(o).removeClass("searchshow")
				
			}
		},
		sort(obj,zt){
			if($(obj).hasClass("desc"))
			{
				if(zt==1){qbl.ssort="0"}
				if(zt==2){qbl.tsort="0"}
				$(obj).removeClass("desc")
			}
			else
			{
				if(zt==1){qbl.ssort="1"}
				if(zt==2){qbl.tsort="1"}
				$(obj).addClass("desc")
			}
		}
	}
</script>
</block>