.pageTop{ height: 4rem; position:relative; background: url(../images/bj.jpg);display:none}
	   .pageTop img{ position: absolute;width:3rem; left: 10px; top:0.5rem;;}
	   .pageTop span{ display: block; width:100%; text-align: center; line-height: 4rem; font-size: 1.6rem;color: #fff;}