.quan_list ul { margin: 0; padding: 0;  overflow: hidden; padding: 1rem 1rem;}
		.quan_list ul li{ list-style-type: none; display: flex; display: -webkit-flex;
		  margin-bottom: 1rem;
		  /*box-shadow: 7px 7px 3px #999;*/
		 
		  position: relative;
		}
		.quan_list_left{ flex:none; width:25vw;  background: url(../images/bj.jpg);
		 flex; display: -webkit-flex; flex-flow:column; justify-content: space-around; align-content: center;
		  position: relative; overflow: hidden;;
		}
		.quan_list_left span{ text-align: center; color: #fff;}
		.quan_list_left span:first-child{ font-size: 1rem;}
		.quan_list_left span:nth-child(2){ font-size: 2rem;}
		.quan_list_left div{  position: absolute; top:0px; right: -8px; width:14px; height: 100%;
		 display: flex; display: -webkit-flex; flex-flow:column;transform: rotate(-180deg);
		}
		.quan_list_left div a{ flex:auto; height: 14px;  border-radius:50%; background: #fff;}
		.quan_list_right{ flex:auto; background: #fff; padding: 0.5rem 1rem ; 
		 
		
		}
		.quan_list_right p{ margin:0; padding: 0; color: #303030;}
		
		.quan_list_right_top{ padding-bottom: 1.5rem;}
			.quan_list_right_top p:first-child{ font-size: 1.4rem; color: #303030; height: 2.5rem;line-height: 2.5rem;}
			.quan_list_right_top p:last-child{ font-size: 1.2rem;height: 1.4rem;line-height: 1.4rem;}
	    .quan_list_right_bottom p{font-size: 1rem;height: 1.4rem;line-height: 1.4rem;}
	    .quanactive{ background: gray !important;}
	    
.zt{position: absolute; width:4rem ;  right:1rem; bottom:3rem; z-index: 18;}
	    